.frame {
  position: absolute;
  width: 400px;
  height: 420px;
  margin-top: 100px;
  margin-left: 450px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: rgb(169, 217, 169);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -25%);
  
}

.card {
  width: 320px;
  height: 310px;
  box-shadow: 4px 8px 16px 0 rgba(21, 70, 10, 5);
  background: white;
  box-shadow: 4px 8px 16px 0 darken(darkgreen, 10%);
}
.left {
  position: absolute;
  left: 0;
  width: 190px;
  height: 300px;
  overflow: hidden;
  background-color: white;
}
.avatar {
  width: 70px;
  border-radius: 50%;
}

.circle{
  position : absolute;
  border-radius: 50%;
  transition: all 1.5s ease-in;
  border : 1px solid;
  background-color: rgb(182, 241, 182);
}
.circle:first-child{
  left : 20px;
  top : 3px;
  border-color :rgb(197, 238, 197);
}
.circle:nth-child(2){
  left : 6px;
  top : 6px;
  border-color : rgb(152, 196, 152);
}
/*.circle:hover{
  .circle:first-child{
    transform : rotate(360deg);
  }
  .circle:nth-child(2){
    transform : rotate(-360deg);
  }
}*/

img {
  width: 100px;
  height: 100px;
  border-radius: inherit;
}
.info {
  position: absolute;
  text-align: center;
  top: 120px;
  width: 100%;
  font-size: 16px;
  color: rgb(39, 143, 39);
}
p {
  text-align: center;
  font-size: 14px;
  color: darkolivegreen;
}
.buttons {
  text-align: center;
  width: 100px;
  height: inherit;
}
.custom-button {
  display: inline-block;
  padding: 5px 30px;
  border: 2px solid green;
  background-color: white;
  color: green;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 25px;
  margin-top: 190px;
  margin-left: 40px;
  text-decoration: none;
}

.custom-button:hover {
  background-color: darkgreen;
  color: white;
}

.custom-button1 {
  display: inline-block;
  padding: 5px 25px;
  border: 2px solid green;
  background-color: white;
  color: green;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 25px;
  margin-left: 40px;
  margin-top: 10px;
}
.custom-button1:hover {
  background-color: darkgreen;
  color: white;
}

.right {
  position: absolute;
  right: 0;
  width: 130px;
  height: 300px;
}
.states {
  position: relative;
  height: 100px;
  background: rgb(220, 244, 220);
  box-shadow: white;
}
span {
  position: absolute;
  margin-top: 25px;
  width: 125px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  color: rgb(108, 202, 108);
}
.posts {
  color: rgb(108, 202, 108);
  text-align: center;
  padding-top: 40px;
}
.states1 {
  margin-top: 5px;
  position: relative;
  height: 100px;
  background: rgb(220, 244, 220);
  box-shadow: white;
}

.likes {
  color: rgb(108, 202, 108);
  text-align: center;
  padding-top: 40px;
}
.states2 {
  margin-top: 5px;
  position: relative;
  height: 100px;
  background: rgb(220, 244, 220);
  box-shadow: white;
}
.flw {
  color: rgb(108, 202, 108);
  text-align: center;
  padding-top: 40px;
}
