body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:greenyellow;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.card {
  height: 400px;
  width: 500px;
  max-width: 100%;
  background: #fff;
}

.text-login {
  font-weight: 300;
  font-size: 18px;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background: rgb(47, 147, 10);
  background: linear-gradient(90deg, rgb(37, 122, 7) 0%, rgb(52, 163, 0) 100%);
  color: #fff;
  width: 380px;
  max-width: 100%;
  padding: 20px 18px;
}

input {
  height: 30px;
  width: 100%;
  background: rgb(235, 234, 234);
  border: 0px;
  padding: 8px 0;
  width: 380px;
  max-width: 100%;
  padding-left: 16px;
}

.form-input {
  width: 380px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}

.margin-bottom {
  margin-bottom: 18px;
}

.not-register {
  color: rgb(47, 147, 10);
}

.not-register span {
  color: gray;
  font-weight: 300;
}